.articles {}

.article {
  display: flex;
  align-items: flex-start;

  &:nth-child(n+2) {
    margin-top: 60px;
  }

  &__img {
    object-fit: cover;
    display: block;

    &__wrapper {
      background-color: #eff6f1;
    }
  }

  &__link {
    color: #0f0d0e;
  }

  &__post {
    &__info {
      display: flex;
      margin-top: 32px;

      &__date {
        margin-right: 0.94rem;
        font-size: 0.8rem;
        font-weight: normal;
        color: #888888;
      }
    
      &__author {
        font-size: 0.8rem;
        font-weight: bold;
        color: #000000;
      }
    }

    &__text {
      &:nth-child(n+2) {
        margin-top: 15px;
      }

      &__wrapper {
        margin-top: 48px;
        font-weight: normal;
        line-height: 1.47;
        color: #0f0d0e;
      }
    }    
  }

  @media (min-width: $tablet-max) {
    &__img__wrapper {
      width: 381px;
    }
  
    &__post {
      margin-left: 30px;
    }
  }

  @media (max-width: $tablet-min) {
    flex-direction: column;
    padding-bottom: 18px;
    border-bottom: 3px solid #eeeeee;

    &__img__wrapper {
      width: 100%;
    }
  
    &__img {
      width: 100%;
      max-width: 100%;
    }
  
    &__post {
      margin-top: 16px;
    }
  }

  @media (min-width: $mobile-max) and (max-width: $tablet-min) {
    padding-bottom: 18px;

    &:last-child {
      border: none;
    }
  
    &:nth-child(n+2) {
      margin-top: 40px;
    }
  
    &__post__info {
      margin-top: 35px;
    }
  
    &__post__text__wrapper {
      margin-top: 30px;
    }
  }

  @media (max-width: $mobile-min) {
    padding-bottom: 22px;

    &:nth-child(n+2) {
      margin-top: 35px;
    }
  
    &__post__info {
      margin-top: 21px;
    }
  
    &__post__text__wrapper {
      margin-top: 16px;
      font-size: 0.94rem;
      line-height: 1.43
    }
  
    &__post__text:nth-child(n+2) {
      margin-top: 9px;
    }
  }
}