.header {
  padding: 28px 20px 130px;
  background-image: url("assets/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #666666;
  position: relative;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: 2;
  }

  &__wrapper {
    @extend %on-top-everything;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $mobile-max) and (max-width: $tablet-min) {
    padding: 43px 35px 112px;
    background-image: url("assets/images/banner-bg-tablet.jpg");    
  }

  @media (max-width: $mobile-min) {
    padding: 31px 15px 219px;
    background-image: url("assets/images/banner-mobile.jpg");

    &__wrapper {
      flex-direction: column;
    }
  }
}
