.topics {
  list-style-type: none;
  font-size: 0.94rem;
  font-weight: bold;
}

.topic {
  &__item {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 13px;

    &:nth-child(n+2) {
      margin-top: 19px;
    }
  }

  &__link {
    margin-right: 5px;
    color: #000000;
    text-decoration: none;
    vertical-align: bottom;

    &:hover {
      color: #b59f5b;
    }
  }

  &__count {
    font-size: 0.8rem;
    font-weight: bold;
    color: #b59f5b;
    vertical-align: top;
  }
}