$gold: #b59f5b;
$gold-border: rgba(181, 159, 91, 0.6);
$black-text: #0f0d0e;

// Breakpoints
$mobile-min: 640px;
$mobile-max: 641px;
$tablet-transitional: 940px;
$tablet-min: 1199px;
$tablet-max: 1200px;